<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить новый вид</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Добавить новый вид</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>{{ form.name.label }}<br>{{ form.name(size=32) }}</div>
            <div>{{ form.submit(class_="start-button") }}</div>
        </form>
        <p><a href="{{ url_for('main.index') }}">← Назад</a></p>
    </div>
</body>
</html>