<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Vittavento Article Generator{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-wrapper">
        <header>
            <h1 style="text-align: center; margin: 20px 0;">Vittavento Article Generator</h1>
        </header>

        <!-- Flash-сообщения -->
        <div class="flashes">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class="flash-list">
                  {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>

        <!-- Основное содержимое страницы -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
