<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать артикул</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">

    <h1>Редактировать артикул</h1>

    <!-- Форма редактирования артикула -->
    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Блок редактирования Описания артикула -->
        <div class="description-block" style="border: 2px solid #4a6b81; padding: 15px; border-radius: 8px; background-color: #f8f9fa; margin-bottom: 20px;">
            <h2>Описание артикула</h2>

            <div class="form-group">
                <label for="description">{{ form.description.label }}</label><br>
                {{ form.description(rows=1, cols=60) }}
            </div>
        </div>


        <!-- Если найден Вид изделия -->
        {% if view %}
        <div class="description-block" style="border: 2px solid #4a6b81; padding: 15px; border-radius: 10px; margin-top: 20px;">
            <h2>Редактировать Вид изделия</h2>

            <!-- Название вида -->
            <div class="form-group">
                <label for="view_name">Название вида</label><br>
                <input type="text" id="view_name" name="view_name" value="{{ view.name }}" required class="pretty-input">

            </div>

            <!-- Описание вида -->
            <div class="form-group">
                <label for="view_description">Описание вида</label><br>
                <textarea id="view_description" name="view_description" rows="1" cols="50">{{ view.description }}</textarea>
            </div>
        </div>
        {% endif %}


        <!-- Кнопка сохранить -->
        <div class="button-container">
            {{ form.submit(class_="start-button") }}
        </div>
    </form>

    <!-- Кнопка назад -->
    <p><a href="{{ url_for('main.list_articles') }}" class="back-button">← Назад к списку артикулов</a></p>

</div>

</body>
</html>
