<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Выбор компонентов</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>

  <div class="container">
    <h1>Выбор компонентов иерархий 2 и 3</h1>

    <form method="POST">
      <table id="componentsTable" class="display components-table" style="width: 100%;">
        <thead>
          <tr>
            <th>✓</th>
            <th>Артикул</th>
            <th>Описание</th>
            <th>Вес</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <td><input type="checkbox" name="component_ids" value="{{ article.id }}"></td>
            <td>{{ article.code }}</td>
            <td>{{ article.description }}</td>
            <td>{{ article.weight_real }} кг</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="button-container">
        <button type="submit" class="start-button">Выбрать</button>
        <a href="{{ url_for('main.index') }}" class="back-button">← Назад</a>
      </div>
    </form>
  </div>

  <script>
    $(document).ready(function () {
      $('#componentsTable thead tr').clone(true).appendTo('#componentsTable thead');
      $('#componentsTable thead tr:eq(1) th').each(function (i) {
        if (i > 0 && i < 4) {
          $(this).html('<input type="text" placeholder="Фильтр..." style="width: 100%; padding: 3px;" />');
          $('input', this).on('keyup change', function () {
            if (table.column(i).search() !== this.value) {
              table.column(i).search(this.value).draw();
            }
          });
        } else {
          $(this).html('');
        }
      });

      const table = $('#componentsTable').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        paging: false,
        info: false,
        language: {
          search: "🔍 Поиск:",
          zeroRecords: "Ничего не найдено",
          emptyTable: "Нет данных"
        }
      });
    });
  </script>

</body>
</html>
